$primary: (
  "primary-400": #7551ff,
  "primary-500": #4318ff
);
$secondary: (
  "secondary-700": #1b254b,
  "secondary-600": #2b3674,
  "secondary-800": #0b1437
);
$neutral: (
  "gray-300": #f4f7fe,
  "gray-500": #e0e5f2,
  "gray-600": #a3aed0,
  "gray-700": #707eae,
  "white": #fff
);
