<main class="auth-layout">
  <section class="auth-layout__signin-container"></section>
  <aside class="auth-layout__banner-container">
    <figure class="auth-layout__banner-logo">
      <img
        src="../../../../assets/icons/horizon__logo.svg"
        alt="horizon logo"
      />
    </figure>
    <div class="auth-layout__banner-info">
      <p>Learn more about Horizon UI on</p>
      <h1>horizon-ui.com</h1>
    </div>
  </aside>
</main>
<footer class="auth-layout__footer">
  <nav class="auth-layout__footer-container">
    <p>© 2022 Horizon UI. All Rights Reserved. Made with love by Simmmple!</p>
    <ul class="auth-layout__footer-nav">
      <li class="auth-layout__footer-nav-item"><a>Marketplace</a></li>
      <li class="auth-layout__footer-nav-item"><a>License</a></li>
      <li class="auth-layout__footer-nav-item"><a>Terms of Use</a></li>
      <li class="auth-layout__footer-nav-item"><a>Blog</a></li>
    </ul>
  </nav>
  <button class="auth-layout__mode-button">
    <span class="pi pi-moon"></span>
  </button>
</footer>
